**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.sty
**/*.swo
**/*.swp
**/*.toc
**/*.vrb
**/*.vtc
**/*.bbl
**/*.blg
**/.DS_Store
examples/**.txt
examples/**.perf
examples/**.gfa
examples/**.tsv
examples/**.lp
examples/**.sol
examples/**/.snakemake
examples/**
!examples/**/data/**/*.gfa
!examples/**/experiments/**/*.yaml
!examples/**/experiments/**/Snakefile
software/target
