**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.sty
**/*.swo
**/*.swp
**/*.toc
**/*.vrb
**/*.vtc
**/*.bbl
**/*.blg
**/.DS_Store
examples/experiments/**/*
!examples/
!examples/experiments/**/*.yaml
!examples/experiments/**/Snakefile
!*/
software/target
