**/*.aux
**/*.log
**/*.nav
**/*.out
**/*.snm
**/*.sty
**/*.swo
**/*.swp
**/*.toc
**/*.vrb
**/*.vtc
**/*.bbl
**/*.blg
**/.DS_Store
**/__MACOSX
**/__pycache__
experiments/**/runs
experiments/**/.err
experiments/**/.out
**/gurobi.log
**/.snakemake
target
